# This file customizes how the Node Package Manager behaves.

# Set the package manager to only use
# package versions that have been out for a bit.
# This is just in case one of the packages the project
# depends on is hit by a supply chain attack.
# The delay gives the community time to discover any.
# Make sure you use npm audit whenever you update your packages
# to check for any known issues.
min-release-age=7

# Ensure that packages do NOT run any post-install scripts,
# just in case something malicious has been embedded in them.
# If you really trust the package, then use the following CLI command:
# npm rebuild package-name --ignore-scripts=false
ignore-scripts=true
